<ion-view view-title="" cache-view="false">

  <ion-nav-buttons side="left" >

  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">

	<button class="button button-block button-positive" ui-sref="app.newdeal({ItemId: '-1'})">
	  הוספת מבצע חדש
	</button>
	
       <div ng-repeat="item in Deals">
	   
			<div >
				<div class="dealDiv">
					<img ng-src="{{host}}/{{item.image}}" ui-sref="app.dealdetails({ItemId: $index})" style="width:100%; position:relative; top:0; left:0; z-index:0;"  />
					<div id="percent">
					<!--	
					<div id="percentImg">
						
						{{checkPercent(deal)}}
						{{Deal.discount_precent}}
						
							<p id="percentText">&nbsp;{{checkPercent(Deal)}}% <br>הנחה</p>
							<img src="img/percent.png" />
						</div>
					-->
					</div>
					<div id="overlayImage" ui-sref="app.dealdetails({ItemId: $index})">
						<div id="overImg"></div>
						<div id="overlayRight">
							<p id="dealInfo1">{{item.title | stripslashes:true}} </p>
							<div id="dealInfo3" style="font-size:18px;">
								 <span id="newPrice">{{item.oldprice}}</span> <span id="oldPrice">{{item.price}} &#8362;</span>
							</div>
						</div>
						
						<div id="overlayLeft" style="">
							<img src="img/date1.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
							<div id="dateText">
								<p id="dateText1">{{cutDate(item.dealdate)}}</p>
								<p id="dateText2">{{cutYear(item.dealdate)}}</p>
							</div>
						<div>
					</div>
				</div>
			 
			 </div>

	 <div >
		 <div style="float:right;" ui-sref="app.newdeal({ItemId: $index})">
			<i class="ion-edit" style="font-size:35px;"></i>
		 </div>			 
		 <div style="float:right; margin-right:10px;" ng-click="deleteDeal($index,item.index)">
			<i class="ion-trash-a" style="font-size:35px;"></i>
		 </div>				 
	 </div>
	 
	 </div>

 </div>

  </div>
	
  </ion-content>
</ion-view>
