.transparent {
  background: transparent !important;
}

.title-image
{
	width:650px;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar { background-image: none !important; color:#efefef !important }

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}


/* Package Page*/

.itemRow
{
	width:100%;
	overflow:hidden;	
}

.itemHalfRow
{
	width:50%;
	float:left;
	margin-top:10px;
}

.itemCombo
{
	width:20%;
	float:left;
	margin-left:5px;
	margin-top:7px;
}

.listImageHolder
{
	width:100%;
	border:0px solid #CCC;
	border-bottom:none;
}

.listImage
{
	width:95%;
}

.listImageinfoText
{
	padding:10px;
	margin-top:-20px;
}

.listImageinfoText h5
{

}

.listImageinfoText p
{
	font-weight:bold;
	font-size:17px;
}



.infoCombo
{
	text-align:right;
	width:51%;
	float:left;	
}

.infoCombo h3
{
	color:#004d6e;
	font-weight:bold;
	font-size:18px;
}

.infoCombo p
{
	color:#419abe;
	font-size:16px;
	margin-top:-5px;
}


.infoComboT1
{
	text-align:right;
	width:70%;
	float:left;	
	padding-left:40px;
}

.infoComboT1 h3
{
	color:#004d6e;
	font-weight:bold;
	font-size:18px;
}

.infoComboT1 p
{
	color:#419abe;
	font-size:16px;
	margin-top:-5px;
}




.infoImage
{
	margin-left:3%;
	width:15%;
	float:left;
}

.infoImage img
{
	border:2px solid #d5d6d5
}

.infoImageT1
{
	margin-left:3%;
	width:23%;
	float:left;
}

.infoImageT1 img
{
	border:2px solid #d5d6d5
}


.infoCheck
{
	margin-left:3%;
	width:4%;
	float:left;
	margin-top:15px;
}















/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/* Toogle Class */

.toogle
{
	overflow:hidden;
	background-color:#f4f4f4;
	font-size:30px;
	padding:10px;
}

.tooglLeft
{
	width:60%;
	float:left;
	margin-left:30px;
	margin-top:3px;
}

.tooglRight
{
	width:40%;
	float:right;
}


.NonActiveCircleToogle
{
	float:right;
	width:30%;
}

.NonActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#fff;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.ActiveCircleToogle
{
	float:right;
	width:30%;
}

.ActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#ff7b00;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.lineToogle
{
	margin-top:-5px;
}

.FooterToogle
{
	font-size:35px !important;
	color:white;
	font-size:bold !important;
	margin-top:10px !important;
	font-family:Tahoma, Geneva, sans-serif;
}

.ToogleHeaderTitle
{
	font-size:25px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:5px;
	z-index:100;
	left:0px;
	position:relative;
	width:100%;
	text-align:center;
	
}


.SearchTable
{
	direction:rtl;
	padding:5px;
	text-align:center;
	font-size:16px;
}

.SearchTable td
{
	padding:10px;
	padding-top:7px;
}

.TDsearch
{
	margin-left:10px;
	color:#555555;
	font-weight:bold;
}

.TDtype
{
	color:#a9a9a9;
}

.TDtypeActive
{
	background-color:#dc5353;
	color:white;
	border-radius:3px;
}


.itemSelectedBox
{
	color:black !important; 
	background-color:#efefef !important;
	margin-left:0px;
	border:none !important;
}


.item-select select 
{
    -moz-appearance: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px 45px 0px 0px;
    max-width: 100%;
    border: medium none;
    background: #FFF none repeat scroll 0% 0%;
    color: #333;
    text-indent: 0.01px;
    text-overflow: "";
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: ltr;
	padding-right:30px;
}


.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:30px;
	padding-right:30px;
}

.mainInfo h3
{
	font-size:16px;
	font-weight:bold;
	color:black;
}

.mainInfo h4
{
	font-size:14px;
	color:#333;
	line-height:1.4;
}

/* tabs */

	.tabsDiv
	{
		overflow:hidden;
		width:100%;
		margin-top:0px;
		position:relative;
		padding:10px;
	}
	
	.tabsActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#333;
		text-align:center;
		padding:10px;
		border-bottom:1px solid #900;
	}
	
	.tabsNotActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#CCC;
		border-bottom:1px solid #CCC;
		text-align:center;
		padding:10px;
	}
	
	
	/* Basket Page*/
	.footerBasket
	{
		background-color:#195e7c;
		padding:3px;
		width:100%;
		overflow:hidden;
		direction:rtl;
		font-weight:bold;
		font-size:18px;
		padding-top:5px;
	}
	
	.footerBasketLeft
	{
		text-align:left;
		margin-left:50px;
		color:white;
		width:30%;
		float:left;
	}
	
	.footerBasketRight
	{
		float:right;
		text-align:right;
		margin-right:50px;
		color:white;
		width:30%;
	}
	
	/* PackageForm Page*/
	
	.PackageForm
	{
		width:100%;
		background-color:#f4f4f4
	}
	
	.PackageFormDiv
	{
		width:85%;
		margin-top:10px;
		text-align:right;
	}
	
	.PackageFormText
	{
		margin-top:15px;
		text-align:center;
		color:#333 !important;
		width:100%;
		padding-top:10px !important;
		padding-bottom:10px !important;
		height:40px !important;
		font-size:16px !important;
		padding-right:20px;
	}
	
	.PackageFormText1
	{
		margin-top:15px;
		text-align:center;
		background-color:white;
		width:100%;
		padding:30px;
		padding-top:25px !important;
		padding-bottom:25px !important;
		height:40px;
		font-size:16px !important;
		padding-right:20px;
	}
	
	.inviteButtons
	{
		overflow:hidden;
		width:100%;
		margin-top:15px;
	}
	
	.inviteButtonsLeft
	{
		float:left;
		width:49%;
	}
	
	.inviteButtonsRight
	{
		float:right;
		width:49%;
	}
	
	.invitePay
	{
		background-color:white;
		font-size:25px;
		color:#004d6e;
		padding:40px 10px 32px 10px;
		font-weight:bold;
		direction:rtl;
		overflow:hidden;
		width:100%;
		margin-top:15px;
	}
	
	.invitePayLeft
	{
		float:left;
		width:49%;
	}
	
	.invitePayRight
	{
		float:right;
		width:49%;
	}
	
	.invitePayButtons
	{
		overflow:hidden;
		width:100%;
	}
	
	.invitePayButtonsLeft
	{
		float:left;
		width:50%;
	}
	
	.invitePayButtonsRight
	{
		float:right;
		width:50%;
	}
	
	.popup-title	
	{
		direction:rtl;
	}
	
	
	/* Login page*/
	.loginLogo
	{
		width:100%;
		margin-top:40px;
	}
	
	.loginLogo div
	{
		width:80%;	
	}
	
	
	.AddCounter
	{
		width:50%;
		overflow:hidden;
		margin-top:-10px;
		margin-bottom:10px;
		
	}
	
	.AddCounterLeft
	{
		float:left;
		width:35px;
	}
	
	.AddCounterCenter
	{
		float:left;
		width:10%;
		margin-top:-8px;
		margin-left:10px;
	}
	
	.AddCounterRight
	{
		float:left;
		width:35px;
	}
	
	.categoryButton
	{
		overflow:hidden;
		margin-top:15px;
		background-color:#000;
		width:105%;
		left:-3%;
		padding-right:5px;
		padding-top:5px;
		padding-bottom:5px;
		position:relative;
	}
	
	.catBtn
	{
		float:right;
		text-align:center;
		color:#000;
		font-size:13px;
		background-color:#fff;
		padding:3px;
		padding-left:2px;
		padding-right:2px;
		margin-left:3px;
	}
	
	.viewDetails
	{
		background-color:black;
		color:#e1e1e1;
		width:80%;
		padding:5px;
	}
	
	
	.detailsLine
	{
		width:100%;
		height:1px;
		background-color:#e1e1e1;
		width:106%;
		left:3%;
		position:relative;
		margin-top:20px;
		margin-bottom:20px;
	}
	
	.infoButton
	{
		width:100%;
		overflow:hidden;
	}
	
	.infoButtonDv
	{
		float:right;
		border:1px solid #e1e1e1;
		color:#000;
		padding:4px;
		padding-left:20px;
		padding-right:20px;
		margin-left:4px;
	}

	.infoButtonDvOver
	{
		float:right;
		border:1px solid #e1e1e1;
		padding:4px;
		padding-left:20px;
		padding-right:20px;
		margin-left:4px;
		color:white;
		background-color:black;
	}
	
	
	
	.infoButtonCircle
	{
		width:100%;
		overflow:hidden;
	}
	
	.infoButtonCircle div
	{
		border-radius:50%;
		float:right;
		border:1px solid #e1e1e1;
		color:#000;
		padding:20px;
		padding-left:20px;
		padding-right:20px;
		margin-left:4px;
	}
	
	
	.mainSearchBoxDiv
	{
		width:100%;
		margin-top:-15px;
	}
	.mainSearchBox
	{
		overflow:hidden;
		width:95%;
	}
	
	.mainSearchBoxRight
	{
		width:91%;
		float:right;
	}
	
	.mainSearchBoxRight div
	{
		width:100%;
		margin-top:20px;
	}
	
	.mainSearchBoxRight div input
	{
		text-align:right;
		padding-right:10px;
		padding-top:-23px;
	}
	
	.mainSearchBoxLeft
	{
		width:8.5%;
		float:right;
	}
	
	.mainSearchBoxLeft div
	{
		width:100%;
		margin-top:20px;
	}

	.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:0px;
	overflow:hidden;
}

.orderButton
{
	float:left;
	width:10%;
}

.mainInfoText
{
	float:right;
	width:60%;
}

.mainInfo h3
{
	font-size:16px;
	font-weight:bold;
	color:black;
}

.mainInfo h4
{
	font-size:14px;
	color:black;
	line-height:1.4;
}

.mainDetails
{
	width:100%;
	overflow:hidden;
}
	
	
	
	
	/* Deal Page */

.dealDiv
{
	position:relative; 
	left:0; 
	top: 0;
	margin-top:15px;
}

#imgDeal
{
	
}


#percent
{
	width:100%;
	position:absolute;
	top:0px;
	overflow:hidden;
}

#percentImg
{
	position:relative;
	right:10px;
	float:right;
}

#percentImg img
{
	width:75%;
}

#percentText
{
	position:absolute;
	text-align:center;
	left:10%;
	padding-top:10px;
	line-height:0.8;
	font-weight:bold;
	font-size:28px;
	color:white;
}

#overlayRight
{
	float:right;
	width:70%;
}

#overlayLeft
{
	float:left;
	width:30%;
	z-index:100;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}

#overlayImage
{
	width:100%;
	height:80px;
	position:absolute;
	bottom:5px;
	overflow:hidden;
	z-index:100;
}

#overImg
{
	width:100%;
	background-color:black;
	height:80px;
	opacity:0.4;
	position:absolute;
	bottom:0px;
	overflow:hidden;
	z-index:-1;
}

#dateImg
{
	position:relative;
	left:30px;
	top:0px;
	padding-top:7px;
	float:left;
	height:70px;
	width:30px;
}

#dateText
{
	height:70px; 
	margin-top:5px; 
	float:left; 
	margin-left:20px; 
	position:absolute
}

#dateText1
{
	margin-top:23px;
	font-size:20px;
	font-weight:bold;
	margin-left:9px;
	color:white;
}

#dateText2
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:11px;
	color:white;
}

#dateText3
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:-20px;
}

#dealInfo1
{
	text-align:right;
	font-size:20px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:7px;
}

#dealInfo2
{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:-7px;
}

#dealInfo3
{
	text-align:right;
	font-size:16px;
	margin-right:10px;
	color:white;
	margin-top:-7px;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
	color:#d6a82a
	
}
#oldPrice
{
	color:#D6D6D6;
}

#oldPrice1
{
	color:#22aab0;
	font-weight:bold;
}

.lineDeals
{
	height:1px;
	margin:5px 0 5px 0;
	width:100%;
	background-color:#e6e5e5;
}	

.stars
{
	 padding-right:8%;
}
.star
{
	float:right;
	 width:14%;
	 padding:2% 0 1% 2%;
}



.Comments
{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}

.imageReview
{
	float:right;
	width:20%;
	margin-left:20px;
}

.imageReview img
{
	border-left:8px solid red;
	margin-left:20px;
}

.lineReview
{

}

.infoReview
{
	width:67%;
	float:right;
}



.itemBooked
{
	background-color:#ee2375;
}


.itemNotBooked
{
	background-color:#28a918;
}

	
	
	
	.DealMainImage
{
	width:100%;
	background-color:white;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.DealMainInfo
{
	width:100%;
	background-color:white;
	text-align:right;
	direction:rtl;
	padding:15px;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

/* Deal Page */

.DealPageTitle
{
	text-align:right; 
	padding:15px;
	direction:rtl;
}

.DelaInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-top:8px !important;
	padding-bottom:8px;
}

	
.popup-body
{
	direction:rtl;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/* CSS Document */

