<ion-view view-title="" hide-nav-bar="false" >
	 <ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
  </ion-nav-title>
  <ion-content ng-style="contentStyle" style=" background-color:#f1f2f2" on-swipe-right="Swipe(0)" on-swipe-left="Swipe(1)">

  
  
        <!-- Crad 1 -->
        <div ng-if="settings.cardType == 1" >
            <div class="c1Logo" align="center">
                <div>
                    <img src="{{Host}}/{{Details.logo}}" style="width:100%" />
                </div>
            </div>
            <div class="Icons c1icons" align="center">
                <div class="IconsContent" ng-repeat="item in DetailsArray">
                    <div class="Icon c1Icon">
                         <div class="verticalLine" ng-if="$index%2 == 1">
                             <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/vertical.png" style="width:100%" />
                        </div>
                        <div align="center">
                            <div class="c1Line"  ng-if="$index > 1" align="center">
                                <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/horizontal.png" style="width:100%" />
                            </div>
                            <div class="iconDiv" align="center">
                                <img src="img/icons/{{settings.iconType}}/{{settings.iconColor}}/{{item.icon}}.png" style="width:100%" />
                            </div>
                            <div ng-style="contentStyle" style="font-family:{{Family}}">{{item.text}}</div>
                        </div>
                        
                        
                    </div>
                 </div>
            </div>
         </div> 
         <!-- Crad 2 -->
        <div ng-if="settings.cardType == 2">
            <div class="c2Logo" align="center">
                <div>
                    <img src="img/img.png" style="width:100%" />
                </div>
            </div>
            
            <div align="center">
            	<div class="c2NameTab">
                	אינה טל | מעצבת גרפית
                </div>
            </div>
            
            <div align="center">
            	<div class="c2Title">
                	אודות | מוגבל עד 40 תוים. בת 28, תואר ראשון בעיצוב גרפי במכללת ויצו. כיום מנהלת סטודיו בחברת שיווקיסט. אני מזמינה אותכם להצטרף אלינו לחברה ולצמוח.
                </div>
            </div>
            <div class="Icons c1icons" align="center">
                <div class="c2IconsContent" ng-repeat="item in DetailsArray" ng-click="navigateDetails()">
                    <div class="Icon c1Icon">
                        <div class="c2verticalLine" ng-if="$index%2 == 1">
                             <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/vertical.png" style="width:100%" />
                        </div>
                        <div align="center">
                            <div class="c1Line" align="center">
                                <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/horizontal.png" style="width:100%" />
                            </div>
                            <div class="c2iconDiv" align="center">
                                <img src="img/icons/{{settings.iconType}}/{{settings.iconColor}}/{{item.icon}}.png" style="width:100%" />
                            </div>
                            <div ng-style="contentStyle" style="font-family:{{Family}}; margin-top:-10px;">{{item.text}}</div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="c2Line" align="center" style="margin-top:6px">
                 <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/horizontal.png" style="width:100%" />
            </div>
        </div>
		
		
		
         <!-- Crad 3 -->
        <div ng-if="settings.cardType == 3">
           
            
            <div align="center">
            	<div class="c3NameTab">
                	{{Details.name}}
                </div>
            </div>
            
            <div align="center">
            	<div class="c3Image">
                	<img src="{{host}}/php/{{Details.mainimage}}" ng-if="Details.mainimage" style="width:100%"  />
					<img src="img/add_image.png" ng-if="!Details.mainimage" style="width:100%"  />
                </div>
            </div>
            
            
             <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/inst.png" ng-click="openPage(8)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/face.png" ng-click="openPage(2)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/waze.png" ng-click="openPage(1)"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
        
         <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/ic2.png" ng-click="openPage(4)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/ic4.png" ng-click="openPage(0)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/ic3.png" ng-click="openPage(3)"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/ic1.png"  ng-click="shareCard()"  style="width:100%; margin-top:-3px;" />
                </td>
             <!--   <td>
                	<img   src="img/main_icons/i5.jpg" ng-click="openEditPopup(3)"  style="width:100%; margin-top:-3px;" />
                </td>-->
            </tr>
        </table>
		
        
        
           <!--  <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/i1.png" ng-click="openPage(4)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/i2.png" ng-click="openPage(3)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/i3.png" ng-click="openPage(2)"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/i4.jpg" ng-click="openPage(1)"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/i5.jpg" ng-click="openPage(0)"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>-->
            
           	<div class="c3bInfo">
            	<div class="c3RightLogo">
                	
                             <div class="c3Logo" align="center">
                                <div ng-click="CameraOptions()">
                                    <img src="{{host}}/php/{{Details.image}}"  />
                                </div>
                             </div>
                         
                	<!-- <div style="width:100%" align="center">
                    	<div style="width:80%" >
                			<img src="img/logo.jpg" style="width:100%"/>
                        </div>
                    </div>-->
                </div>
                <div class="c3RightInfo">
                	<h3> {{Details.name}}  </h3>
                    <p > {{Details.address}}  </p>
                    <p ng-if="Details.phone"> טלפון : {{Details.phone}}  </p>
                </div>
				
				
				<!--
                <div class="c3LeftIcon" ng-click="goStore()" align="center" ng-if="Details.show_store ==  1">
                	<div style="width:60%">
					 <i class="ion-pricetags" style="font-size:35px;"></i>
                     </div>		
                </div>
				-->
				
                <div class="c3LeftIcon"  align="center" >
                	<div style="width:60%">
						<div ng-click="openSite(Details.iphonelink)"  ng-if="Details.iphonelink"><i class="ion-social-apple" style="font-size:40px;"></i></div>
						<div ng-click="openSite(Details.androidlink)"   ng-if="Details.androidlink"><i class="ion-social-android" style="font-size:40px;"></i></div>
                     </div>		
                </div>
				
				
            </div>
            <div class="c3Title">
            	על העסק 
            </div>
            <div style="width:100%" align="center">
            	<div class="c3Line">
    			</div>
            </div>
            <div align="center">
            	<div class="c3Info">
                	{{Details.desc}}
                </div>
            </div>
            
			
       
            <!-- gallery -->
            <div style="width:100%; overflow:hidden; margin-top:20px;" ng-if="Details.galleryimages.length > 0" >
                <div  ng-repeat="item in Details.galleryimages" style="width:33%; float:right;">
                    <img src="{{host}}/php/{{item.image}}" ng-click="showImgPopUp(item.image)" style="width:100%;" />
                </div>		
			</div>

            <div style="width:100%" align="center">
            	<div class="c3Line">
    			</div>
            </div>

			
			<!-- portfolio -->
            <div style="width:100%; overflow:hidden; margin-top:20px;" ng-if="Details.category == 16 && Details.portfolio.length > 0">
                <div  ng-repeat="item in Details.portfolio" style="width:33%; float:right;">
                    <img src="{{host}}/php/{{item.image}}" ng-click="showProfolioPopup(item)" style="width:100%;" />
                </div>		
			</div>
			
            <div style="width:100%" align="center">
            	<div class="c3Line">
    			</div>
            </div>

			
			
			<!-- נכסים -->
			
	        <div class="ListRow2" ng-repeat="item in Details.realestate" ui-sref="app.realestate({ItemId:item.index})" ng-if="Details.category == 22">
            <div class="ListRight2">
				<img  ng-src="{{host}}/php/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter2" >
            	<h3>{{item.title}}</h3>
				<h4> <b>אזור : </b> {{getAreaName(item.area)}}</h4>
				<h4> <b>מספר חדרים :</b> {{item.rooms}}</h4>
				<h4 ><b>מחיר :</b> 
				<span style="direction:rtl;" ng-if="item.currency == 0">&#8362;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 1">&#36;{{item.price | number}}</span>
				<span style="direction:rtl;" ng-if="item.currency == 2">&#8364;{{item.price | number}}</span>
				</h4>
            </div>

            <div class="ListLeft2">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div> 

		


        	
             <div style="width:100%" align="center">
            	<div class="c3Line1" style="margin-top:20px;">
    			</div>
            </div>
            
            <div class="deal" ng-repeat="item in Details.deals" align="center" ng-click="showDealPopup($index)" >
            	<div style="width:95%">
                    <div class="dealImg">
                        <img src="{{host}}/php/{{item.image}}" style="width:100%" />
                    </div>
                    <div class="dealBck">
                    	<img src="img/deal/bck.png" style="width:100%" />
                        <div class="dealInfo">
                        	<div class="dealPrice" align="center">
                            	<div style="width:80%">  
                                	<div class="newPrice">{{item.price}} <span style="font-size:12px; margin-left:7px;">&#8362;</span></div>
                                    <div ng-if="item.oldprice" class="oldPrice">במקום <span style="text-decoration:line-through;">{{item.oldprice}}</span> <span style="font-size:8px; margin-left:15px;">&#8362;</span></div>
                            		<img src="img/deal/circle.png" style="width:100%; z-index:1" />
                                </div>
                            </div>
							

                            <div class="dealDetails">
                            	<h3>{{item.title}}</h3>
                                <p>{{item.desc}}</p>
                            </div>
                            <div ng-if="item.supplier_info[0].dist" class="dealPlace" align="center">
                            	<div style="width:100%" align="center">
                                    <div style="width:50%">  
                                        <img src="img/deal/map.png" style="width:100%" />
                                    </div>
                                </div>
                                <p>{{formatNumber(item.supplier_info[0].dist)}} ק"מ ממיקומך</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			

            <div style="width:100%" align="center">
            	<div class="c3Line">
    			</div>
            </div>

			
			<div class="c3NameTab" align="center" ng-if="Details.keywords">
				{{Details.keywords}}
			</div>		
			
        </div>


		
  </ion-content>
</ion-view>









