<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <!-- <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none;" ng-click="goToBasket()">
        	<span class="badge badge-assertive" style="z-index:100; position:relative; left:20px;">{{BasketPrice}} &#8362;</span>
  		</a>
  </ion-nav-buttons> -->
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px;  margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 
  

  
	<!--
    <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="BackSaveChanges()" >
    <i class="icon ion-ios-arrow-back"></i>
    test </button>
    </ion-nav-buttons> 
	-->
	
	<div class="bar bar-footer" style="height:85px; background-color:black !important;  width:100%; padding:0;" align="center" ng-click="checkOutBtn(ProductData)">
    	<div style="width:100%" align="center">
    		<img src="img/invitbutton1.png" style="width:160px" />
        </div>
    </div>

  <ion-content class="has-subheader;" style=" margin-bottom:80px" >
   
  <img src="{{host}}/{{ProductData.image}}" ng-click="ShowImageModal(ProductData.image)" imageonload style="width:100%;">
  
        <div class="mainInfo" >
        	<h3>{{ProductData.name | stripslashes:true}}</h3>
			<h3 ng-if="ProductData.new_price != 0">מחיר: <strike ng-if="ProductData.old_price">{{ProductData.old_price}} &#8362;</strike> {{ProductData.new_price}} &#8362;</h3>
			<h3 ng-if="ProductData.sku">מק"ט: {{ProductData.sku | stripslashes:true}}</h3>
			<h3 ng-if="ProductData.manufacturer">יצרן: {{ProductData.manufacturer | stripslashes:true}}</h3>
            <h4 ng-bind-html="ProductData.desc | stripslashes:true"></h4>
            <div ng-if="colorsArray[0]" class="detailsLine"></div>
            <div ng-if="colorsArray[0]">
            	<p>בחר צבע : </p>
                <div class="infoButton">
					<div ng-click="changeColor(item.index,$index)" ng-repeat="item in colorsArray" ng-class="item.index == Color ? 'infoButtonDvOver' : 'infoButtonDv'">{{item.value}}</div>

                </div>
            </div>
            <div ng-if="sizesArray[0]" class="detailsLine"></div>
             <div ng-if="sizesArray[0]">
            	<p>בחר גודל : </p>
                <div class="infoButton">
					<div ng-click="changeSize(item.index,$index)" ng-repeat="item in sizesArray" ng-class="item.index == Size ? 'infoButtonDvOver' : 'infoButtonDv'">{{item.value}}</div>

                </div>
            </div>
			
			

            <div ng-if="SubjectArray[0]" class="detailsLine"></div>
            <div ng-if="SubjectArray[0]">
            	<p>{{SubjectArray[0].subject_name}} : </p>
                <div class="infoButton">
					<div ng-click="changeSubject(item.index,$index)" ng-repeat="item in SubjectArray" ng-class="item.index == Subject ? 'infoButtonDvOver' : 'infoButtonDv'">{{item.name}}</div>

                </div>
            </div>


			
			
            <div class="detailsLine"></div>
            <p>כמות : </p>
        	<div class="infoButton">
               <div class="infoButtonDv" style="padding-left:15px; padding-right:15px; width:55px; text-align:center; background-color:#f2f2f2" ng-click="changeQuan(1)">+</div>
               <!-- <div class="infoButtonDv">{{ProductData.quan}}</div> -->
			   <div class="infoButtonDv" >
				<input type="tel" style="background:color:red; width:25px; height:20px;" ng-model="PrdQuan">
			   </div>
               <div class="infoButtonDv" style="padding-left:15px; padding-right:15px; width:55px; text-align:center; background-color:#f2f2f2" ng-click="changeQuan(0)">-</div>
            </div>	
            <div class="detailsLine"></div>
            <p>הוסף הערות להזמנה : </p>	
            <textarea rows="4" cols="50" ng-model="ProductData.remarks" style="color:#999"></textarea>
        </div>


	 <div  ng-repeat="item in ProductData.packageProducts" ng-if="ProductData.package == 1">
    	<div class="itemRow">

            <div class="infoCombo" style="width:80%;">
            	<h3>{{item.productDetails[0].name | stripslashes:true}}</h3>
				<p>כמות : {{item.quan}}</p>
                <!-- <p>מחיר : {{item.new_price}} ש"ח</p> -->
            </div>
            <div class="infoImage">
            	<img src="{{host}}/{{item.productDetails[0].image}}" ng-click="ShowImageModal(item.productDetails[0].image)" style="width:100%">
            </div>
            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>
        </div>
	 </div>
	<!--
    <div style="width:100%; margin-top:20px; margin-bottom:50px" align="center" ng-click="AddBasket(ProductData)">
    	<div style="width:80%">
        	
        </div>
    </div> -->

		
  </ion-content>
  
  <script id="image-modal.html" type="text/ng-template">
            <div style="width:100%;" align="center">
                <div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
                    <ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
                        <img ng-src="{{productImage}}" style="width:100%;">
                    </ion-scroll>
                </div>
            </div>
  </script>

		  
</ion-view>
