	

	<ion-view view-title="">
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
	

	
    <ion-content class="content">
	
	  <div class="list">
	  <div class="item-input-inset" style="margin-top:-1px;">
		<label class="item-input-wrapper" style="text-align:right; direction:rtl">
		  <input type="text" ng-model="searchInput" ng-keydown="BlurSearch()" style="text-align:right; direction:rtl" placeholder="חיפוש">
		</label>
		<button class="button button-small">
		  חפש
		</button>
	  </div>
			
	</div>
	
	<div class="deal" ng-repeat="item in DealsArray | filter:searchInput" align="center"  >
		<div style="width:95%">

			<div class="dealImg">
				<img src="{{host}}/php/{{item.image}}" style="width:100%" />
			</div>
			<div class="dealBck">
				<img src="img/deal/bck.png" style="width:100%" />
				<div class="dealInfo">
					<div class="dealPrice" align="center">
						<div style="width:80%">  
							<div class="newPrice">{{item.price}} <span style="font-size:12px; margin-left:7px;">&#8362;</span></div>
							<div class="oldPrice">במקום <span style="text-decoration:line-through;">{{item.oldprice}}</span> <span style="font-size:8px; margin-left:15px;">&#8362;</span></div>
							<img src="img/deal/circle.png" style="width:100%; z-index:1" />
						</div>
					</div>
					<div class="dealDetails">
						<h3>{{item.title}}</h3>
						<p>{{item.desc}}</p>
					</div>
					<div ng-if="item.supplier_info[0].dist" class="dealPlace" align="center">
						<div style="width:100%" align="center">
							<div style="width:50%">  
								<img src="img/deal/map.png" style="width:100%" />
							</div>
						</div>
						<p>{{formatNumber(item.supplier_info[0].dist)}} ק"מ ממיקומך</p>
					</div>
				</div>
			</div>
		</div>
	</div>  

    </ion-content>
</ion-view>
