<ion-view view-title="" cache-view="false">

	
  
  
	<ion-nav-title align-title="left">
        <img class="title-image"  src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:#f1f2f2">
	
	
		<!-- placeholder="{{'home_input1' | translate}}" ng-model="fields.search" ng-keypress="enterPress($event)"  -->
        <div class="mainSearchBoxDiv" align="center">
            <div class="mainSearchBox">
                <div class="mainSearchBoxRight">
                    <div style="border-bottom:2px solid #b2d233;">
                        <input type="text" ng-model="fields.title" style="width:100%;" placeholder="חפש עסקים באיזור" />
                    </div>
                </div>
                <div class="mainSearchBoxLeft" align="center" >
                    <div ng-click="doSearch()" align="right">
                        <img src="img/search.png" style="width:39px; height:36px; border:1px solid #b2d233;" />
                    </div>
                </div> 
            </div>
        </div>
        
        <div class="mainPageVideo" align="center" >
        	<div class="mainPageVideoInsideDiv" >
			<!--
            	<img class="mt10" src="img/main/i1.jpg" style="width:100%" ui-sref="app.hotdeals()" />
                <img class="mt10" src="img/main/i2.jpg" style="width:100%" />
			-->
                <div ng-repeat="item in Catagories" >
                      <img ng-src="{{host+item.image}}" ng-click="navigateCat($index,item.index)" style="width:100%; border:1px solid #fff" />
                </div>
				<img ng-if="isLogin == 0" ng-click="checkLoggedIn()" class="mt10" src="img/main/i8.jpg" style="width:100%" />
                <img ng-if="isLogin == 1" ng-click="checkLoggedIn()" class="mt10" src="img/main/i9.png" style="width:100%" />
            </div>
        </div>
	<div>
	
	



	
	</div>


	
  </ion-content>
</ion-view>
