<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar align-title="center" class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title" style="direction:rtl;" ng-if="connectedUser">שלום {{loggedinUsername}}</h1>
    </ion-header-bar>
    <ion-content>
	
	
      <ion-list >


       <ion-item menu-close ng-click="goMain()" class="menuTabSelected" >
		ראשי
       </ion-item>
	   
	  
       <ion-item menu-close ng-click="ShareBtn()" class="menuTabSelected" >
		שיתוף
       </ion-item>
       
       <ion-item menu-close ng-click="contactUs()" class="menuTabSelected" >
		צור קשר
       </ion-item>
	   
	   
	   
	   
		
         <ion-item menu-close ng-if="!connectedUser" ng-click="logIn()" class="menuTabSelected" >
		התחברות
       </ion-item>
 
 
       <ion-item menu-close ng-if="connectedUser" ng-click="goManageCard()" class="menuTabSelected" >
          בעל עסק
       </ion-item>

	   
       <ion-item menu-close ng-if="connectedUser" ng-click="goSettings()" class="menuTabSelected" >
          הגדרות
       </ion-item>

	   
 
       <ion-item menu-close ng-if="connectedUser" ng-click="logOut()" class="menuTabSelected" >
          התנתקות
       </ion-item>


	   
	   
		</ion-list>
	   
	
      <ion-list ng-if="currentPage == 'app.managecard2'">
	 
       <ion-item menu-close ng-click="settings(0)" ng-class="CurrentSetting == 0?'menuTab':'menuTabSelected'" >
          סוג כרטיס
       </ion-item>
       <ion-item menu-close ng-click="settings(1)" ng-class="CurrentSetting == 1?'menuTab':'menuTabSelected'" >
          החלף רקע
       </ion-item>
       <ion-item menu-close ng-click="settings(2)" ng-class="CurrentSetting == 2?'menuTab':'menuTabSelected'" >
          סוג אייקונים
        </ion-item>
        <ion-item menu-close ng-click="settings(7)" ng-class="CurrentSetting == 7?'menuTab':'menuTabSelected'" >
          צבע  אייקונים
        </ion-item>
        <ion-item menu-close ng-click="settings(3)" ng-class="CurrentSetting == 3?'menuTab':'menuTabSelected'" >
          צבע פונט
        </ion-item>
        <ion-item menu-close ng-click="settings(4)" ng-class="CurrentSetting == 4?'menuTab':'menuTabSelected'" >
          סוג פונט
        </ion-item>
        <ion-item menu-close ng-click="settings(5)" ng-class="CurrentSetting == 5?'menuTab':'menuTabSelected'" >
          גודל פונט
        </ion-item>
        <ion-item menu-close ng-click="settings(6)" ng-class="CurrentSetting == 6?'menuTab':'menuTabSelected'" >
          צבע קו
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
