<ion-view view-title="">

	 <ion-nav-buttons side="left" >

  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">
		
         <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader" style="margin-top:20px;">
                    הרשמה חנות
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='שם מלא' class="loginInput" style=" background-color:white;"  ng-model="register.name">
                </div>
                <div class="loginInputDiv">
                    <input type="tel" placeholder='טלפון' class="loginInput"  style=" background-color:white;"  ng-model="register.phone">
                </div>

                <div class="loginInputDiv" >
                    <input type="text" placeholder='כתובת למשלוח' class="loginInput" style=" background-color:white;"  ng-model="register.address">
                </div>
				
                <div class="loginInputDiv">
                    <input type="text" placeholder='מייל' class="loginInput"  style="background-color:white;"  ng-model="register.mail">
                </div>
                 <div class="loginInputDiv">
                    <input type="text" placeholder='הכנס סיסמא' class="loginInput"  style=" background-color:white"  ng-model="register.password">
                </div>

                <div style="width:100%" align="center">
                	<div style="width:75%">
                    	<img src="img/login.jpg" style="width:100%;  margin-top:10px;" ng-click="doRegister(1)" />
                        
                        <p ui-sref="app.loginshop()" style=" margin-top:10px;"><< משתמש קיים</p>
                    </div>
                </div>
				
               
              
            </div>
        </div>
        

	
  </ion-content>
</ion-view>
